BODY {
	FONT-SIZE: 14px; COLOR: #000; FONT-FAMILY: ËÎÌå; BACKGROUND-COLOR: #E0E0E0
}
.p1 {
	FONT-SIZE: 9pt; COLOR: #ffffff; LINE-HEIGHT: 150%
}
A:link {
	CURSOR: hand; COLOR: #000000; FONT-STYLE: normal; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; FONT-STYLE: normal; TEXT-DECORATION: none
}
A:active {
	COLOR: #ff0000; FONT-STYLE: normal; TEXT-DECORATION: none
}
A:hover {
	COLOR: #5a62c7; TEXT-DECORATION: underline
}
.F1 {
	FONT-SIZE: 7px
}
A.a1:link {
	CURSOR: hand; COLOR: #ffffff; FONT-STYLE: normal; TEXT-DECORATION: none
}
A.a1:visited {
	COLOR: #ffffff; FONT-STYLE: normal; TEXT-DECORATION: none
}
A.a1:active {
	COLOR: #ffcd5f; FONT-STYLE: normal; TEXT-DECORATION: none
}
A.a1:hover {
	COLOR: #ffcd5f; TEXT-DECORATION: underline
}
.p2 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #393e82; LINE-HEIGHT: 150%; FONT-STYLE: normal
}
.p3 {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 150%
}
LI {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 150%; LIST-STYLE-TYPE: square
}
.p4 {
	FONT-WEIGHT: bold; COLOR: #393e82
}
.p5 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000066; BACKGROUND-COLOR: #d2d4f9
}
.p6 {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000; BACKGROUND-COLOR: #f1f1fd
}
.p7 {
	FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #393e82
}
.p8 {
	FONT-SIZE: 9pt
}
.p9 {
	FONT-WEIGHT: bold; FONT-SIZE: 10.5pt; COLOR: #393e82; LINE-HEIGHT: 150%; FONT-STYLE: normal
}
.bg1 {
	BACKGROUND-POSITION: right top; BACKGROUND-REPEAT: no-repeat
}
.pli {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #393e82; LINE-HEIGHT: 150%; FONT-STYLE: normal
}
TD {
	FONT-SIZE: 9pt; LINE-HEIGHT: 150%
}
A.a2:link {
	CURSOR: hand; COLOR: #ffcd5f; FONT-STYLE: normal; TEXT-DECORATION: none
}
A.a2:visited {
	COLOR: #ffcd5f; FONT-STYLE: normal; TEXT-DECORATION: none
}
A.a2:active {
	COLOR: #ffcd5f; FONT-STYLE: normal; TEXT-DECORATION: none
}
A.a2:hover {
	COLOR: #ffcd5f; TEXT-DECORATION: underline
}
FORM {
	FONT-SIZE: 9pt; COLOR: #FFFFFF
}
P {
	MARGIN-TOP: 0px; FONT-SIZE: 12px; MARGIN-BOTTOM: 4px; FONT-STYLE: normal; FONT-FAMILY: ËÎÌå
}
TABLE.Top {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px
}
TABLE.Middle {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px
}
TABLE.Bottom {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
INPUT.Width {
	MARGIN-TOP: 0px; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; WIDTH: 94px; FONT-FAMILY: ËÎÌå
}
.Indented12R {
	MARGIN-RIGHT: 12px
}
TD.Color1 {
	BACKGROUND-POSITION: center bottom; BACKGROUND-IMAGE: url(images/HShadowBack.gif); BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #d7d6d4
}
.Indented4R {
	MARGIN-RIGHT: 4px
}
.Indented12L {
	MARGIN-LEFT: 12px
}
.NoBreakBeforeAfter {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
.NoBreakBefore {
	MARGIN-TOP: 0px
}
.NoBReakAfter {
	MARGIN-BOTTOM: 0px
}
.DoubleBreakBefore {
	MARGIN-TOP: 8px
}
P.Font {
	FONT-SIZE: 12px; COLOR: #384d5e; FONT-FAMILY: ËÎÌå
}
P.Title {
	FONT-SIZE: 14px; COLOR: #384d5e; FONT-FAMILY: ËÎÌå
}
.Indented28R {
	MARGIN-RIGHT: 28px
}
INPUT {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; COLOR: #000
}
TD.ImageBack {
	BACKGROUND-POSITION: center bottom; BACKGROUND-IMAGE: url(images/ImageBack.jpg); BACKGROUND-REPEAT: no-repeat
}
TD.VShadowBack {
	BACKGROUND-POSITION: right center; BACKGROUND-IMAGE: url(images/VShadowBack.gif); BACKGROUND-REPEAT: repeat-y
}
.Indented8L {
	MARGIN-LEFT: 8px
}
TD.Color2 {
	BACKGROUND-COLOR: #d6ecf9
}
TD.HSeparatorBack {
	BACKGROUND-IMAGE: url(images/HSeparatorBack.gif); BACKGROUND-REPEAT: repeat-x
}
TD.VSeparatorBack {
	BACKGROUND-POSITION: center center; BACKGROUND-IMAGE: url(images/VSeparatorBack.gif); BACKGROUND-REPEAT: repeat-y
}
.Indented40R {
	MARGIN-RIGHT: 40px
}
TD.Color3 {
	BORDER-RIGHT: #7e7d7c 1px; BORDER-TOP: #7e7d7c 1px solid; BORDER-LEFT: #7e7d7c 1px; BORDER-BOTTOM: #7e7d7c 1px; BACKGROUND-COLOR: #d7d6d4
}
FORM {
	MARGIN-TOP: 0px; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; COLOR: #000; FONT-FAMILY: ËÎÌå
}
TD.Color4 {
	BACKGROUND-COLOR: #ffffff
}
TD.BarBack {
	BACKGROUND-IMAGE: url(images/BarBack.gif); BACKGROUND-REPEAT: repeat-x
}
IMG.Bordered {
	BORDER-RIGHT: #34495a 1px solid; BORDER-TOP: #34495a 1px solid; BORDER-LEFT: #34495a 1px solid; BORDER-BOTTOM: #34495a 1px solid
}
TD {
	FONT-SIZE: 14px; LINE-HEIGHT: 150%
}
TD.shadow {
	FILTER: shadow(color=gray,direction=135); WIDTH: 80px
}
